<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Bem vindo! | TaskMinder</title>
</head>
<body>
    <h1>TaskMinder</h1>
    <!-- <h2>Crie listas e gerencie suas tarefas hoje!</h2> -->
    <div class="home-buttons">
        <li><a href="">Cadastre-se</a></li>
        <li><a href="">Login</a></li> <br>

        <li><a href="/tarefas">(debug) Página de tarefas</a></li> <!--Deixar secreto depois com sessions e autenticação-->
    </div>
    <div class="footer">
        <p>&copy; 2023 terraleonardo & rhayisidoro</p>
    </div>
</body>
</html>